<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update product page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="#" th:action="@{/product-update}" th:object="${product}" method="post">
    <input readonly type="hidden" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <br><br>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="price">
    <br><br>
    <label for="discount">Discount</label>
    <input type="text" th:field="*{discount}" id="discount" placeholder="discount">
    <br><br>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="description">
    <br><br>
    <label for="category">Category</label>
    <input type="text" th:field="*{category}" id="category" placeholder="category">
    <br><br>
    <input type="submit" value="Update">
</form>
</body>
</html>