<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit user page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <input readonly type="hidden" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="username">Name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Name">
    <br><br>
    <input type="submit" value="Update">
</form>
</body>
</html>